<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />

  <meta name="description" content="A Ruby Microdata parser/extractor"/>
  <meta name="keywords" content="ruby microdata parser extractor"/>

  <link rel="stylesheet" href="/mida/css/sitestyle.css" media="screen" type="text/css" />
  <link rel="stylesheet" href="/mida/css/html_pygments.css" media="screen" type="text/css" />
  {% if page.menuOption == "news" %}
    <link rel="stylesheet" href="/mida/css/news.css" media="screen" type="text/css" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="Mida News RSS Feed" href="/mida/news/rss.xml" />


</head>

<body>
  <div id="topBanner">
    <div id="topBannerInner">
       
      <img id="logo" src="/mida/images/logo.png" alt="Mida"/>
      <nav>
        <ul>
          <li><a {%if page.menuOption == "home"%}id="current"{%endif%}
                 href="/mida/">Home</a></li>
          <li><a {%if page.menuOption == "news"%}id="current"{%endif%}
                 href="/mida/news" title="View all the news for Mida">News</a></li>
          <li><a {%if page.menuOption == "contributing"%}id="current"{%endif%}
                 href="/mida/contributing">Contributing</a></li>
          <li><a {%if page.menuOption == "bugs"%}id="current"{%endif%}
                 href="/mida/bugs">Bug Reporting</a></li>
          <li><a id="feed" href="/mida/news/rss.xml" title="Subscribe to Mida's news RSS feed"></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div id="content">
    {{ content }}
  </div>

  </body>
</html>
